        /* navbar */
        .navbar-default {
            background-color: rgba(14, 20, 20, 0.384);
            border-color: rgba(95, 76, 76, 0.747);
        }

        /* Title */
        .navbar-default .navbar-brand {
            color: #777;
        }

        .navbar-default .navbar-brand:hover,
        .navbar-default .navbar-brand:focus {
            color: #5E5E5E;
        }

        /* Link */
        .navbar-default .navbar-nav>li>a {
            color: #777;
        }

        .navbar-default .navbar-nav>li>a:hover,
        .navbar-default .navbar-nav>li>a:focus {
            color: rgba(10, 10, 10, 0.705);
        }

        .navbar-default .navbar-nav>.active>a,
        .navbar-default .navbar-nav>.active>a:hover,
        .navbar-default .navbar-nav>.active>a:focus {
            color: #555;
            background-color: #E7E7E7;
        }

        .navbar-default .navbar-nav>.open>a,
        .navbar-default .navbar-nav>.open>a:hover,
        .navbar-default .navbar-nav>.open>a:focus {
            color: #555;
            background-color: #D5D5D5;
        }

        /* Caret */
        .navbar-default .navbar-nav>.dropdown>a .caret {
            border-top-color: #777;
            border-bottom-color: #777;
        }

        .navbar-default .navbar-nav>.dropdown>a:hover .caret,
        .navbar-default .navbar-nav>.dropdown>a:focus .caret {
            border-top-color: #333;
            border-bottom-color: #333;
        }

        .navbar-default .navbar-nav>.open>a .caret,
        .navbar-default .navbar-nav>.open>a:hover .caret,
        .navbar-default .navbar-nav>.open>a:focus .caret {
            border-top-color: #555;
            border-bottom-color: #555;
        }

        /* Mobile version */
        .navbar-default .navbar-toggle {
            border-color: #DDD;
        }

        .navbar-default .navbar-toggle:hover,
        .navbar-default .navbar-toggle:focus {
            background-color: #DDD;
        }

        .navbar-default .navbar-toggle .icon-bar {
            background-color: #CCC;
        } 

        @media (max-width: 767px) {
            .navbar-default .navbar-nav .open .dropdown-menu>li>a {
                color: #777;
            }

            .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
            .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
                color: #333;
            }
        }

        body {
            
            background-color: rgba(185, 179, 179, 0.123);
        }

        footer {
            background-color: #555;
            color: white;
            padding: 15px;

        }

        /* On small screens, set height to 'auto' for sidenav and grid */
        @media screen and (max-width: 767px) {
            .sidenav {
                height: auto;
                padding: 15px;
            }

            .row.content {
                height: auto;
            }
        }

        /* // checkbox */
        .form-checkbox {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            display: inline-block;
            position: relative;
            background-color: #ceb6b6;
            color: rgb(10, 10, 10);
            top: 10px;
            height: 30px;
            width: 30px;
            border: 0;
            border-radius: 10px;
            cursor: pointer;
            margin-right: 7px;
            outline: none;
        }

        .form-checkbox:checked::before {
            position: absolute;
            font: 13px/1 'Open Sans', sans-serif;
            left: 11px;
            top: 7px;
            content: '\02143';
            transform: rotate(40deg);
            color: rgba(6, 79, 128, 0.795);
        }

        .form-checkbox:hover {
            background-color: #a39191cc;
        }

        .form-checkbox:checked {
            background-color: #c2c8ca;
        }

        label {
            font: 300 16px/1.7 'Open Sans', sans-serif;
            color: #666;
            cursor: pointer;
        }

        /* fieldset */
        fieldset {
            border: 1px solid #ddd !important;
            margin: 0;
            padding: 10px;
            position: relative;
            border-radius: 4px;
            background-color: #f5f5f5;
            padding-left: 10px !important;
        }

        legend {
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 0px;
            width: 35%;
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 5px 5px 5px 10px;
            background-color: #ffffff;
        }
        /* datatable bootstrap */
        .pagination>li {
            display: inline;
            padding:0px !important;
            margin:0px !important;
            border:none !important;
            }
            .modal-backdrop {
              z-index: -1 !important;
            }
            /*
            Fix to show in full screen demo
            */
            iframe
            {
                height:700px !important;
            }
            
            .btn {
            display: inline-block;
            padding: 6px 12px !important;
            margin-bottom: 0;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.42857143;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-image: none;
            border: 1px solid transparent;
            border-radius: 4px;
            }
            
            .btn-primary {
            color: #fff !important;
            background: #428bca !important;
            border-color: #357ebd !important;
            box-shadow:none !important;
            }
            .btn-danger {
            color: #fff !important;
            background: #d9534f !important;
            border-color: #d9534f !important;
            box-shadow:none !important;
            }